<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="update" required="true" />
	<composite:attribute name="title" required="true" />
</composite:interface>

<composite:implementation>
	<p:toolbar id="toolbar">
		<f:facet name="left">
			<f:ajax listener="#{toolbarManager.gotoLinks()}"
				render="#{cc.attrs.update}">
				<p:commandButton type="button" value="Links"
					icon="ui-icon-folder-open" rendered="#{toolbarManager.isLoggedIn}" />
			</f:ajax>
			<f:ajax listener="#{toolbarManager.gotoProfile()}"
				render="#{cc.attrs.update}">
				<p:commandButton type="button" value="Profile" icon="ui-icon-wrench"
					rendered="#{toolbarManager.isLoggedIn}" />
			</f:ajax>
			<f:ajax listener="#{toolbarManager.gotoAdmin()}"
				render="#{cc.attrs.update}">
				<p:commandButton type="button" value="Admin" icon="ui-icon-flag"
					rendered="#{toolbarManager.isLoggedIn and toolbarManager.currentUser.admin}" />
			</f:ajax>
			<f:ajax listener="#{toolbarManager.gotoSync()}"
				render="#{cc.attrs.update}">
				<p:commandButton type="button" value="Sync"
					icon="ui-icon-transferthick-e-w"
					rendered="#{toolbarManager.isLoggedIn and toolbarManager.currentUser.admin}" />
			</f:ajax>
		</f:facet>
		<f:facet name="right">
			<p:outputLabel value="#{'MaMiLink - '.concat(cc.attrs.title)}" />
			
			<span class="ui-separator"> <span
				class="ui-icon ui-icon-grip-dotted-vertical" />
			</span>

			<f:ajax listener="#{toolbarManager.gotoLogin()}"
				render="#{cc.attrs.update}">
				<p:commandButton type="button" value="Login" icon="ui-icon-locked"
					rendered="#{not toolbarManager.isLoggedIn}" />
			</f:ajax>
			<f:ajax listener="#{toolbarManager.logout()}"
				render="#{cc.attrs.update}">
				<p:commandButton type="button" value="Logout"
					icon="ui-icon-unlocked" rendered="#{toolbarManager.isLoggedIn}" />
			</f:ajax>
			<f:ajax listener="#{toolbarManager.gotoRegister()}"
				render="#{cc.attrs.update}">
				<p:commandButton type="button" value="Register"
					icon="ui-icon-person" rendered="#{not toolbarManager.isLoggedIn}" />
			</f:ajax>
		</f:facet>
	</p:toolbar>
</composite:implementation>
</html>