<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<h:outputStylesheet library="css" name="style.css" />
</h:head>
<body>
	<f:view>
		<h:form>
			<h:dataTable value="#{userManager.users}" var="user"
				styleClass="userTable" headerClass="userTableHeader"
				rowClasses="userTableOddRow,userTableEvenRow"
				columnClasses="columnName,columnSurname,columnEmail,columnEdit">
				<h:column>
					<f:facet name="header">Name</f:facet>
					<h:inputText value="#{user.name}" rendered="#{user.editable}" validatorMessage="Invalid name format">
					</h:inputText>
					<h:outputText value="#{user.name}" rendered="#{not user.editable}" />
				</h:column>
				<h:column>
					<f:facet name="header">Surname</f:facet>
					<h:inputText value="#{user.surname}" rendered="#{user.editable}" validatorMessage="Invalid surname format">
					</h:inputText>
					<h:outputText value="#{user.surname}"
						rendered="#{not user.editable}" />
				</h:column>
				<h:column>
					<f:facet name="header">Mail</f:facet>
					<h:inputText value="#{user.email}" rendered="#{user.editable}" validatorMessage="Invalid email format">
					</h:inputText>	
					<h:outputText value="#{user.email}" rendered="#{not user.editable}" />
				</h:column>

				<h:column>
					<f:facet name="header">Edit</f:facet>
					<h:commandButton value="Edit" styleClass="button"
						action="#{userManager.editUser(user)}"
						rendered="#{not user.editable}" />
					<h:commandButton value="Save" styleClass="button"
						action="#{userManager.saveUser(user)}" rendered="#{user.editable}" />
					<h:commandButton value="Cancel" styleClass="button"
						action="#{userManager.cancelUser(user)}"
						immediate="true" 
						rendered="#{user.editable}" />
					<h:commandButton value="Delete" styleClass="button"
						action="#{userManager.deleteUser(user)}"
						rendered="#{not user.editable}" />
				</h:column>

			</h:dataTable>
			<h:commandButton value="Add" action="#{userManager.addUser()}"
				rendered="true" />
			<br />
			
			

		</h:form>
		
		<h:messages showDetail="true" showSummary="false"/>
	

	</f:view>
</body>
</html>
