@CHARSET "ISO-8859-1";

.userTable {
	border-collapse: collapse;
	border: 1px solid #000000;
	width: 800px;
}

.columnName {
   width: 200px;
}

.columnSurname {
   width: 200px;
}

.columnEmail {
   width: 200px;
}

.columnEdit {
   width: 90px;
}

.button {
	width: 60px;
}

.userTableHeader {
	text-align: center;
	background: none repeat scroll 0 0 #B5B5B5;
	border-bottom: 1px solid #000000;
	padding: 2px;
}

.userTableOddRow {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
}

.userTableEvenRow {
	text-align: center;
	background: none repeat scroll 0 0 #D3D3D3;
}