<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mami="http://java.sun.com/jsf/composite/mami">
<h:head>
	<h:outputStylesheet library="css" name="style.css" />
	<title>MaMiLink - Admin</title>
</h:head>
<h:body>
	<p:outputLabel rendered="#{not adminManager.isAdmin()}">ACCESS DENIED!</p:outputLabel>
	<h:form id="adminForm" rendered="#{adminManager.isAdmin()}">
		<mami:toolbar update=":adminForm" title="Admin" />
		<p:growl id="messages" showDetail="true" />
		<p:remoteCommand name="updateList" update=":adminForm"
			actionListener="#{adminManager.loadUsers()}" />
		<p:remoteCommand name="updateMessages" update=":adminForm:messages" />
		<div style="float: clear;">
			<p:panel>
				<p:dataTable id="users" value="#{adminManager.users}" var="user"
					type="definition">
					<p:column width="100" headerText="Username">
						<p:outputLabel value="#{user.username}" rendered="true" />
					</p:column>
					<p:column width="150" headerText="Name">
						<p:outputLabel value="#{user.name}"
							rendered="#{not user.editable}" />
						<p:inputText styleClass="userEdit" value="#{user.name}"
							rendered="#{user.editable}" />
					</p:column>
					<p:column width="150" headerText="Surname">
						<p:outputLabel value="#{user.surname}"
							rendered="#{not user.editable}" />
						<p:inputText styleClass="userEdit" value="#{user.surname}"
							rendered="#{user.editable}" />
					</p:column>
					<p:column width="250" headerText="Email">
						<p:outputLabel value="#{user.email}"
							rendered="#{not user.editable}" />
						<p:inputText styleClass="userEdit" value="#{user.email}"
							rendered="#{user.editable}" />
					</p:column>
					<p:column width="90" headerText="Edit">
						<p:commandButton styleClass="button" icon="ui-icon-pencil"
							title="edit" action="#{adminManager.edit(user)}" update="users"
							rendered="#{not user.editable}" />
						<p:commandButton styleClass="button" icon="ui-icon-trash"
							title="delete" action="#{adminManager.delete(user)}"
							update="users" rendered="#{not user.editable}" />
						<p:commandButton styleClass="button" icon="ui-icon-disk"
							title="save" action="#{adminManager.save(user)}" update="users"
							rendered="#{user.editable}" />
						<p:commandButton styleClass="button" icon="ui-icon-cancel"
							title="cancel" action="#{adminManager.cancel(user)}"
							update="users" rendered="#{user.editable}" />
					</p:column>
				</p:dataTable>
				<p:commandButton icon="ui-icon-plus" value="user"
					styleClass="button" onclick="PF('dlgAdd').show();" rendered="true" />
			</p:panel>
		</div>

		<p:dialog header="add new user" widgetVar="dlgAdd" resizable="false"
			modal="true" dynamic="true" onHide="updateList">
			<p:panelGrid columns="2">
				<p:outputLabel value="Name:" />
				<p:inputText id="newName" styleClass="userEdit" />

				<p:outputLabel value="Surname:" />
				<p:inputText id="newSurname" styleClass="userEdit" />

				<p:outputLabel value="Email:" />
				<p:inputText id="newEmail" styleClass="userEdit" />

				<p:outputLabel value="Username:" />
				<p:inputText id="newUsername" styleClass="userEdit" />

				<p:outputLabel value="Admin:" />
				<p:selectBooleanCheckbox id="newAdmin" />
			</p:panelGrid>
			<p:commandButton icon="ui-icon-plus" value="user" styleClass="button"
				actionListener="#{adminManager.add(param['adminForm:newUsername'], param['adminForm:newName'], param['adminForm:newSurname'], param['adminForm:newEmail'], param['adminForm:newAdmin'])}"
				rendered="true" oncomplete="handleAdd(xhr, status, args)" />
		</p:dialog>
	</h:form>
	<script type="text/javascript">
	function handleAdd(xhr, status, args) {
        if(args.validationFailed || !args.added) {
            PF('dlgAdd').jq.effect("shake", {times:5}, 100);
            updateMessages();
        }
        else {
            PF('dlgAdd').hide();
            document.getElementById("adminForm:newName").value="";
            document.getElementById("adminForm:newSurname").value="";
            document.getElementById("adminForm:newEmail").value="";
            document.getElementById("adminForm:newUsername").value="";   
            updateList();         
        }
    }
	</script>
</h:body>
</html>