<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mami="http://java.sun.com/jsf/composite/mami">
<h:head>
	<h:outputStylesheet library="css" name="style.css" />
	<title>MaMiLink - Home</title>
</h:head>
<h:body>
	<h:form id="indexForm">
		<mami:toolbar update=":indexForm" title="Home" />
		<p:growl id="messages" showDetail="true" />
		<p:panel id="homePanel" rendered="true">
			<h1>Herzlich willkommen auf MaMiLink</h1>
		</p:panel>
	</h:form>
</h:body>
</html>