<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mami="http://java.sun.com/jsf/composite/mami">
<h:head>
	<h:outputStylesheet library="css" name="style.css" />
	<title>MaMiLink - Links</title>
</h:head>
<body>
	<h:form id="treeForm">
		<mami:toolbar update=":treeForm" title="Links" />
		<p:growl id="messages" autoUpdate="true" showDetail="true" />
		<p:remoteCommand name="updateComments" update=":treeForm:comments" />
		<p:remoteCommand name="updateTree" update=":treeForm" />
		<p:remoteCommand name="updateForm" update=":treeForm"
			actionListener="#{treeManager.loadTree()}" />
		<p:remoteCommand name="updateMessages" update=":treeForm:messages" />
		<table>
			<tr>
				<td width="450px" valign="top"><p:panel id="treePanel"
						rendered="true" style="width: 100%">
						<p:commandButton icon="ui-icon-plus" value="list"
							styleClass="button" onclick="PF('dlgAddList').show();"
							rendered="true" />
						<p:commandButton icon="ui-icon-plus" value="link"
							styleClass="button" onclick="PF('dlgAddLink').show();"
							rendered="#{treeManager.selectedNode.type=='linklist'}" />
						<p:commandButton icon="ui-icon-search" value="search"
							styleClass="button" onclick="PF('dlgSearch').show();"
							rendered="true" />
					</p:panel> <br /> <p:tree id="tree" style="width: 100%" dynamic="true"
						animate="true" value="#{treeManager.root}" var="node"
						selectionMode="single" selection="#{treeManager.selectedNode}"
						draggable="true" dragMode="self" droppable="true">
						<p:ajax event="select" update=":treeForm"
							listener="#{treeManager.onNodeSelect}" />
						<p:ajax event="dragdrop" listener="#{treeManager.onDragDrop}"
							update=":treeForm" />

						<p:treeNode type="linklist"
							expandedIcon="#{(node['class'].simpleName == 'LinklistNode') and (node.linklist.owner.id!=treeManager.currentUser.id) ? 'ui-icon-star' : 'ui-icon-script'}"
							collapsedIcon="ui-icon-folder-collapsed">
							<h:outputText value="#{node}" />
							<br />
							<h:outputText style="font-size: 80%;"
								value="#{' (followed from '.concat(node.linklist.owner.username).concat(')  ')}"
								rendered="#{(node.linklist.owner.id!=treeManager.currentUser.id)}" />
							<p:commandLink style="font-size: 80%;"
								actionListener="#{followManager.deleteFollow(node.linklist)}"
								value="unfollow"
								rendered="#{(node.linklist.owner.id!=treeManager.currentUser.id)}" />
						</p:treeNode>
						<p:treeNode type="link" icon="ui-icon-link">
							<h:outputText value="#{node}" />
						</p:treeNode>
					</p:tree> <p:contextMenu for="tree" nodeType="linklist"
						selectionMode="single">
						<p:menuitem value="Add new list"
							onclick="PF('dlgAddList').show();" icon="ui-icon-plus" />
						<p:menuitem value="Add new link"
							onclick="PF('dlgAddLink').show();" icon="ui-icon-plus" />
						<p:menuitem value="Delete list" update=":treeForm"
							actionListener="#{treeManager.deleteCurrent()}"
							icon="ui-icon-trash" />
					</p:contextMenu> <p:contextMenu for="tree" nodeType="link">
						<p:menuitem value="Delete link" update=":treeForm"
							actionListener="#{treeManager.deleteCurrent()}"
							icon="ui-icon-trash" />
					</p:contextMenu></td>
				<td width="60%" valign="top"><p:panel
						style="float: clear; margin-left: 10px;" id="details"
						header="Current Selection"
						rendered="#{not empty treeManager.selectedNode}">
						<c:if test="#{treeManager.selectedNode.type=='linklist'}">
							<c:set var="linklist"
								value="#{treeManager.selectedNode.data.linklist}"
								scope="request" />
							<p:fieldset style="min-width: 300px; min-height: 150px;">
								<legend>Link-List-Details</legend>
								<br />
								<p:panelGrid style="width: 300px;" columnClasses="bold"
									columns="2">
									<p:outputLabel value="Title:" rendered="true" />
									<p:outputLabel value="#{linklist.title}"
										rendered="#{not linklist.editable}" />
									<p:inputText value="#{linklist.title}"
										rendered="#{linklist.editable}"
										validatorMessage="Invalid title format" />

									<p:outputLabel value="Public:" rendered="true" />
									<p:selectBooleanCheckbox disabled="#{not linklist.editable}"
										rendered="true" value="#{linklist.privat}" />
									<p:outputLabel value="Owner:" rendered="true" />
									<p:outputLabel value="#{linklist.owner.username}"
										rendered="true" />
								</p:panelGrid>
								<br />
								<c:if test="#{(linklist.owner.id==treeManager.currentUser.id)}">
									<p:commandButton styleClass="button" icon="ui-icon-pencil"
										title="edit" actionListener="#{treeManager.editCurrent()}"
										update="details" rendered="#{not linklist.editable}" />
									<p:commandButton styleClass="button" icon="ui-icon-disk"
										title="save" actionListener="#{treeManager.saveCurrent()}"
										update=":treeForm" rendered="#{linklist.editable}" />
									<p:commandButton styleClass="button" icon="ui-icon-cancel"
										title="cancel" actionListener="#{treeManager.cancelCurrent()}"
										update="details" rendered="#{linklist.editable}" />
									<p:commandButton styleClass="button" icon="ui-icon-trash"
										title="delete" actionListener="#{treeManager.deleteCurrent()}"
										update=":treeForm" rendered="#{not linklist.editable}" />
								</c:if>
							</p:fieldset>
						</c:if>

						<c:if test="#{treeManager.selectedNode.type=='link'}">
							<c:set var="link" value="#{treeManager.selectedNode.data.link}"
								scope="request" />
							<p:fieldset style="min-width: 300px; min-height: 150px;">
								<legend>Link-Details</legend>
								<br />
								<p:panelGrid style="width: 300px;" columnClasses="bold"
									columns="2">
									<p:outputLabel value="Url:" />
									<h:outputLink target="_blank" value="#{link.getLinkUrl()}"
										rendered="#{not link.editable}">#{link.linkUrl}</h:outputLink>
									<p:inputText value="#{link.url}" rendered="#{link.editable}"
										validatorMessage="Invalid url format" />
									<p:outputLabel value="Title:" rendered="true" />
									<p:outputLabel value="#{link.title}"
										rendered="#{not link.editable}" />
									<p:inputText value="#{link.title}" rendered="#{link.editable}"
										validatorMessage="Invalid title format" />
									<p:outputLabel value="Owner:" rendered="true" />
									<p:outputLabel value="#{link.list.owner.username}"
										rendered="true" />
								</p:panelGrid>
								<br />
								<c:if test="#{(link.list.owner.id==treeManager.currentUser.id)}">
									<p:commandButton styleClass="button" icon="ui-icon-pencil"
										title="edit" actionListener="#{treeManager.editCurrent()}"
										update="details" rendered="#{not link.editable}" />
									<p:commandButton styleClass="button" icon="ui-icon-disk"
										title="save" actionListener="#{treeManager.saveCurrent()}"
										update=":treeForm" rendered="#{link.editable}" />
									<p:commandButton styleClass="button" icon="ui-icon-cancel"
										title="cancel" actionListener="#{treeManager.cancelCurrent()}"
										update="details" rendered="#{link.editable}" />
									<p:commandButton styleClass="button" icon="ui-icon-trash"
										title="delete" actionListener="#{treeManager.deleteCurrent()}"
										update=":treeForm" rendered="#{not link.editable}" />
								</c:if>
							</p:fieldset>
						</c:if>
					</p:panel> <br /> <p:panel style="float: clear; margin-left: 10px;"
						id="comments" header="Comments"
						rendered="#{not empty treeManager.selectedNode}">
						<p:dataList
							value="#{commentManager.getComments(treeManager.selectedNode)}"
							var="comment" type="definition">
							<p:panel style="max-width: 350px;">
								<p:outputLabel value="#{comment.title}" />
								<p:outputLabel style="float: right;"
									value="#{comment.owner.username}" />
								<br />
								<p:outputLabel
									style="font-size: 90%; max-width: 250px; word-wrap: break-word;"
									value="#{comment.message}" />
								<p:commandButton styleClass="button" style="float: right;"
									icon="ui-icon-trash" title="delete"
									action="#{commentManager.deleteComment(comment)}"
									update=":treeForm:comments"
									rendered="#{(!comment.deleted) and (comment.owner.id == commentManager.currentUser.id)}" />
							</p:panel>
						</p:dataList>
						<p:commandButton icon="ui-icon-plus" value="comment"
							styleClass="button" onclick="PF('dlgComment').show();"
							rendered="true" />
					</p:panel></td>
			</tr>
		</table>

		<p:dialog id="dlgComment" header="Add new comment"
			widgetVar="dlgComment" onHide="updateComments()" resizable="false"
			modal="true" dynamic="true">
			<p:inputText id="newTitle" required="false" rendered="true"
				styleClass="inputText" validatorMessage="Invalid title format"
				label="wmTitle" />
			<p:watermark for="newTitle" value="New title..." id="wmTitle" />
			<br />
			<p:inputTextarea id="newMessage" maxlength="160"
				counter="newMessageCounter" counterTemplate="{0}/160"
				required="false" rendered="true" styleClass="inputArea"
				validatorMessage="Invalid message format" label="wmMessage" />
			<p:watermark for="newMessage" value="New message..." id="wmMessage" />
			<br />
			<p:outputLabel id="newMessageCounter" />
			<br />
			<p:commandButton icon="ui-icon-plus" value="comment"
				styleClass="button"
				actionListener="#{commentManager.addComment(treeManager.selectedNode, param['treeForm:newTitle'], param['treeForm:newMessage'])}"
				rendered="true" oncomplete="handleAddComment(xhr, status, args)" />
		</p:dialog>

		<p:dialog id="dlgAddList" header="Add new list" widgetVar="dlgAddList"
			onHide="updateTree()" resizable="false" modal="true" dynamic="true">
			<p:inputText id="newListTitle" required="false" rendered="true"
				styleClass="inputText" validatorMessage="Invalid title format"
				label="wmListTitle" />
			<p:watermark for="newListTitle" value="New title..." id="wmListTitle" />
			<br />
			<br />
			<p:commandButton icon="ui-icon-plus" value="list" styleClass="button"
				actionListener="#{treeManager.addLinklist(param['treeForm:newListTitle'])}"
				rendered="true" oncomplete="handleAddList(xhr, status, args)" />
		</p:dialog>

		<p:dialog id="dlgAddLink" header="Add new link" widgetVar="dlgAddLink"
			onHide="updateTree()" resizable="false" modal="true" dynamic="true">
			<p:inputText id="newLinkTitle" required="false" rendered="true"
				styleClass="inputText" validatorMessage="Invalid title format"
				label="wmLinkTitle" />
			<p:watermark for="newLinkTitle" value="New title..." id="wmLinkTitle" />
			<br />
			<br />
			<p:inputText id="newLinkUrl" required="false" rendered="true"
				styleClass="inputText" validatorMessage="Invalid URL format"
				label="wmLinkUrl" />
			<p:watermark for="newLinkUrl" value="New url..." id="wmLinkUrl" />
			<br />
			<br />
			<p:commandButton icon="ui-icon-plus" value="link" styleClass="button"
				actionListener="#{treeManager.addLink(treeManager.selectedNode, param['treeForm:newLinkTitle'], param['treeForm:newLinkUrl'])}"
				rendered="true" oncomplete="handleAddLink(xhr, status, args)" />
		</p:dialog>

		<p:dialog header="search public linklists" widgetVar="dlgSearch"
			resizable="false" modal="true" dynamic="true" onHide="updateForm()">
			<p:outputLabel value="search for: " />
			<p:inputText id="search" value="#{followManager.searchText}"
				required="false" rendered="true" styleClass="inputText"
				validatorMessage="Invalid title format" label="wmTitle" />
			<p:commandButton styleClass="button" style="float: right;"
				icon="ui-icon-search" title="search"
				action="#{followManager.search()}" update="results" />
			<br />
			<br />
			<p:dataList id="results" value="#{followManager.searchResults}"
				var="result" type="definition">
				<p:panel style="max-width: 350px;">
					<p:outputLabel value="#{result.title}" />
					<p:outputLabel value="#{result.owner.username}" />
					<p:commandButton icon="ui-icon-star" styleClass="button"
						actionListener="#{followManager.addFollow(result)}" title="follow"
						rendered="true" oncomplete="handleSearch(xhr, status, args)" />
				</p:panel>
			</p:dataList>
		</p:dialog>
	</h:form>
	<script type="text/javascript">
	function handleAddComment(xhr, status, args) {
        if(args.validationFailed || !args.added) {
            PF('dlgComment').jq.effect("shake", {times:5}, 100);
            updateMessages();
        }
        else {
            PF('dlgComment').hide();
            document.getElementById("treeForm:newTitle").value="";
            document.getElementById("treeForm:newMessage").value="";  
        }
    }
	function handleAddList(xhr, status, args) {
        if(args.validationFailed || !args.added) {
            PF('dlgAddList').jq.effect("shake", {times:5}, 100);
            updateMessages();
        }
        else {
            PF('dlgAddList').hide();
            document.getElementById("treeForm:newListTitle").value="";
        }
    }
	function handleAddLink(xhr, status, args) {
        if(args.validationFailed || !args.added) {
            PF('dlgAddLink').jq.effect("shake", {times:5}, 100);
            updateMessages();
        }
        else {
            PF('dlgAddLink').hide();
            document.getElementById("treeForm:newLinkTitle").value="";
            document.getElementById("treeForm:newLinkUrl").value="";  
        }
    }
	function handleSearch(xhr, status, args) {
        if(args.validationFailed || !args.added) {
            PF('dlgSearch').jq.effect("shake", {times:5}, 100);
            updateMessages();
        }
        else {
            PF('dlgSearch').hide();
            document.getElementById("treeForm:search").value="";
        }
    }
	</script>
</body>
</html>