<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mami="http://java.sun.com/jsf/composite/mami">
<h:head>
	<h:outputStylesheet library="css" name="style.css" />
	<title>Login</title>
</h:head>
<h:body>
	<h:form id="loginForm">
		<mami:toolbar update=":loginForm" title="login" />
		<p:panel id="loginPanel">
			<p:messages id="msgs" />
			<h:panelGrid columns="3" cellpadding="5">
				<h:outputLabel for="username" value="Username:" />
				<p:inputText id="username" value="#{credentialsManager.username}"
					required="true" label="username" />
				<p:message for="username" display="icon" />

				<h:outputLabel for="password" value="Password:" />
				<p:password id="password" value="#{credentialsManager.password}"
					required="true" label="password" />
				<p:message for="password" display="icon" />
			</h:panelGrid>
			<p:commandButton value="Login" update=":loginForm"
				actionListener="#{loginManager.login}" />
		</p:panel>
	</h:form>
</h:body>
</html>
