<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mami="http://java.sun.com/jsf/composite/mami">
<h:head>
	<h:outputStylesheet library="css" name="style.css" />
	<title>MaMiLink - Profile</title>
</h:head>
<body>
	<h:form id="profileForm">
		<mami:toolbar update="profileForm" title="Profile" />
		<p:growl widgetVar="messages" id="messages" autoUpdate="true" />
		<div style="float: clear;">
			<p:panel id="profile">
				<c:set var="user" value="#{adminManager.user}" scope="request" />
				<p:outputLabel value="#{'Hi '.concat(user.name)}" />
				<br />
				<p:outputLabel>Here you can change your own profile!</p:outputLabel>
				<br />
				<br />

				<p:panelGrid columns="2" style="width: 800px">
					<p:outputLabel value="Username:" />
					<p:outputLabel value="#{user.username}" rendered="true" />

					<p:outputLabel value="Name:" />
					<p:outputLabel value="#{user.name}" rendered="#{not user.editable}" />
					<p:inputText styleClass="userEdit" value="#{user.name}"
						rendered="#{user.editable}" />

					<p:outputLabel value="Surname:" />
					<p:outputLabel value="#{user.surname}"
						rendered="#{not user.editable}" />
					<p:inputText styleClass="userEdit" value="#{user.surname}"
						rendered="#{user.editable}" />

					<p:outputLabel value="Email:" />
					<p:outputLabel value="#{user.email}"
						rendered="#{not user.editable}" />
					<p:inputText styleClass="userEdit" value="#{user.email}"
						rendered="#{user.editable}" />

					<p:outputLabel value="Admin:" />
					<p:selectBooleanCheckbox id="admin" value="#{user.admin}"
						disabled="true" />
				</p:panelGrid>
				<p:commandButton styleClass="button" icon="ui-icon-pencil"
					title="edit" action="#{adminManager.edit(user)}" update="profile"
					rendered="#{not user.editable}" />
				<p:commandButton styleClass="button" icon="ui-icon-trash"
					title="delete" action="#{adminManager.delete(user)}"
					update="profile" rendered="#{not user.editable}" />
				<p:commandButton styleClass="button" icon="ui-icon-disk"
					title="save" action="#{adminManager.save(user)}" update="profile"
					rendered="#{user.editable}" />
				<p:commandButton styleClass="button" icon="ui-icon-cancel"
					title="cancel" action="#{adminManager.cancel(user)}"
					update="profile" rendered="#{user.editable}" />
				<p:commandButton icon="ui-icon-refresh" value="change password" styleClass="button" style="width: 250px"
					onclick="PF('dlgChangePassword').show();" rendered="true" />
			</p:panel>
		</div>

		<p:dialog id="dlgChangePassword" header="change password" widgetVar="dlgChangePassword"
			resizable="false" modal="true">
			<p:messages id="messagesChangePassword" autoUpdate="true" />
			<p:panelGrid columns="2">
				<p:outputLabel value="New password:" />
				<p:inputText id="newPassword" styleClass="userEdit" />
			</p:panelGrid>
			<br />
			<p:commandButton value="change password" styleClass="button" 
				actionListener="#{adminManager.changePassword(adminManager.user, param['profileForm:newPassword'])}"
				rendered="true" oncomplete="handlePasswordChange(xhr, status, args)" />
		</p:dialog>
	</h:form>
	<script type="text/javascript">
	function handlePasswordChange(xhr, status, args) {
        if(args.validationFailed || !args.changed) {
            PF('dlgChangePassword').jq.effect("shake", {times:5}, 100);
        } else {
            PF('dlgChangePassword').hide();
            document.getElementById("profileForm:newPassword").value="";
        }
    }
	</script>
</body>
</html>