<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mami="http://java.sun.com/jsf/composite/mami">
<h:head>
	<h:outputStylesheet library="css" name="style.css" />
	<title>MaMiLink - Register</title>
</h:head>
<h:body>
	<h:form id="registerForm">
		<mami:toolbar update=":registerForm" title="Register"/>
		<p:panel id="panel">
			<p:messages id="msgs" />
			<h:panelGrid columns="3" cellpadding="5">
				<p:outputLabel for="name" value="Name:" />
				<p:inputText id="name" required="true" value="#{userBean.name}" />
				<p:message for="name" display="icon" />

				<p:outputLabel for="surname" value="Surname:" />
				<p:inputText id="surname" required="true"
					value="#{userBean.surname}">
				</p:inputText>
				<p:message for="surname" display="icon" />

				<p:outputLabel for="email" value="Email:" />
				<p:inputText id="email" required="true" value="#{userBean.email}" />
				<p:message for="email" display="icon" />

				<p:outputLabel for="username" value="Username:" />
				<p:inputText id="username" required="true"
					value="#{userBean.username}" />
				<p:message for="username" display="icon" />

				<h:outputLabel for="pwd1" value="Password 1: *" />
				<p:password id="pwd1" value="#{userBean.password}" match="pwd2"
					label="Password 1" required="true" />
				<p:message for="pwd1" display="icon" />

				<h:outputLabel for="pwd2" value="Password 2: *" />
				<p:password id="pwd2" value="#{userBean.password}"
					label="Password 2" required="true" />
				<p:message for="pwd2" display="icon" />
			</h:panelGrid>
			<p:commandButton value="Register" id="withIcon"
				actionListener="#{userBean.register}" update="panel"
				icon="ui-icon-disk" />
		</p:panel>
	</h:form>
</h:body>
</html>