<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:mami="http://java.sun.com/jsf/composite/mami">
<h:head>
	<h:outputStylesheet library="css" name="style.css" />
	<title>MaMiLink - Sync</title>
</h:head>
<body>
	<h:form id="syncForm">
		<mami:toolbar update=":syncForm" title="Sync" />
		<p:growl id="messages" showDetail="true" />
		<div style="float: clear;">
			<p:panel id="treePanel" rendered="true">
				<p:outputLabel value="remote instance" />
				<br />
				<p:inputText value="#{syncManager.syncServiceUrl}"
					style="width: 500px;" title="Sync Service URL" />
				<br />
				<p:commandButton icon="ui-icon-transfer-e-w"
					value="sync from remote" styleClass="button" style="width: 220px;"
					update=":syncForm" action="#{syncManager.sync()}" rendered="true" />
			</p:panel>
		</div>
		<br />
		<div style="float: clear;">
			<p:panel id="log" header="Sync-Log">
				<p:dataList value="#{syncManager.log}" var="log" type="definition">
					<p:panel style="max-width: 600px;">
						<p:outputLabel value="#{log.title}" />
						<br />
						<p:outputLabel value="#{log.message}" />
					</p:panel>
				</p:dataList>
			</p:panel>
		</div>
	</h:form>
</body>
</html>