@CHARSET "ISO-8859-1";

.columnName {
	width: 200px;
}

.columnSurname {
	width: 200px;
}

.columnEmail {
	width: 200px;
}

.columnEdit {
	width: 90px;
}

.button {
	width: 120px;
}

.inputText {
	width: 200px;
}

.password {
	width: 200px;
}

.inputArea {
	width: 200px;
}

.outputComment {
	font-size: 90%;
	width: 200px;
	max-width: 200px;
}

.linksPanel {
	vertical-align: top;
	width: 100%;
}

.userEdit {
	width: 95%;
}

.tree {
	min-width: 300px;
	min-height: 400px;
	height: 500px;
}

.ui-widget, .ui-widget .ui-widget {
	font-style: normal;
	font-family: sans-serif;
}